In [15]:
from tensorflow.python.keras import backend as K
from tensorflow.python.keras.models import load_model
from tensorflow.python.keras.preprocessing import image
import sys
import os
import cv2
import numpy as np

In [16]:
net = load_model('model-resnet50-final.h5')
cls_list = ['A', 'B', 'C']

In [17]:
myPath = "C1-P1_Test"

In [18]:
dev_list = []
for file in os.listdir(myPath):
    PATH = os.path.join(myPath,file)
    img = image.load_img(PATH, target_size=(224, 224))
    x = image.img_to_array(img)
    x = np.expand_dims(x, axis = 0)
    pred = net.predict(x)[0]
#     print(pred)
    top_inds = pred.argsort()[::-1][:5]
#     print(top_inds)
    dev_list.append(cls_list[top_inds[0]])
#     break

In [12]:
# def error_rate(pred, target):
#     e = 0
#     n = len(pred)
#     for i in range(n):
#         if (pred[i] != target[i]):
#             e += 1
#     return e / n

In [19]:
import pandas as pd
# labels = pd.read_csv("dev.csv",encoding="utf8")
# D_TL = np.array(labels["label"])

In [20]:
# print(D_TL)
D_L = np.array(dev_list)
print(D_L)
# print(error_rate(D_L, D_TL))

['C' 'A' 'B' ... 'A' 'B' 'C']

In [21]:
labels = pd.read_csv("test_example.csv",encoding="utf8")
labels

       image_id  label
0     00001.jpg    NaN
1     00006.jpg    NaN
2     00011.jpg    NaN
3     00016.jpg    NaN
4     00025.jpg    NaN
...         ...    ...
1595  07977.jpg    NaN
1596  07991.jpg    NaN
1597  07992.jpg    NaN
1598  07994.jpg    NaN
1599  07997.jpg    NaN

[1600 rows x 2 columns]

In [22]:
labels['label'] = D_L

In [23]:
labels

       image_id label
0     00001.jpg     C
1     00006.jpg     A
2     00011.jpg     B
3     00016.jpg     A
4     00025.jpg     C
...         ...   ...
1595  07977.jpg     B
1596  07991.jpg     C
1597  07992.jpg     A
1598  07994.jpg     B
1599  07997.jpg     C

[1600 rows x 2 columns]

In [24]:
labels.to_csv( "test_result.csv" , index=False )